{% block content %}
<form action="" method="post" class="romf" style="width: 500px; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;">
    {% csrf_token %}
    <h2 class="romk">Signup Here</h2>

    <label for="username" class="babel">Username</label>
    <input type="text" placeholder="Username" name="username" id="username" class="puput" style="padding: 10; width: 100%;">
    
    <br><br>
    <label class="form-label" for="form2Example17" for="email" class="babel">Email</label>
    <input type="email" id="form2Example17" class="form-control form-control-lg" type="email" placeholder="Email" name="email" id="email" class="puput" style="padding: 10; width: 100%;">

    <br><br>
    <label for="password1" class="babel">Password</label>
    <input type="password" placeholder="Password" id="password1" name="password1" class="puput" style="padding: 10; width: 100%;" >

    <br><br>
    <label for="password2" class="babel">Confirm Password</label>
    <input type="password" placeholder="Confirm Password" id="password2" name="password2" class="puput" style="padding: 10; width: 100%;">
    <button type="submit" style="margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;">Signup</button>

<br><br>

    <a href="{% url 'login' %}">i have already account</a>
</form>

{% endblock %}
